<div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
</div>

<div>
    <mat-tab-group backgroundColor="accent" color="primary">
        <mat-tab label="Caña Azucarera">
            <div class="azucar">
                <div class="data">
                    <br>
                    <div class="title">
                        <h2>Información sobre el lote seleccionado</h2>
                        <br>
                        <h3>
                            Área del lote: {{area}} m²
                        </h3>
                    </div>
                </div>
                <div class="graph">
                    <br>
                    <mat-tab-group backgroundColor="accent" color="primary">
                        <mat-tab label="Temperatura">
                            <br>
                            <canvas #aTempChart></canvas>
                        </mat-tab>
                        <mat-tab label="Precipitación">
                            <canvas #aPrepChart></canvas>
                        </mat-tab>
                        <mat-tab label="Humedad Relativa">
                            <canvas #aHRChart></canvas>
                        </mat-tab>
                        <mat-tab label="Punto de Rocio">
                            <canvas #aPRChart></canvas>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Caña Panelera">
            <br>
            <div class="panela">
                <div class="data">
                    <br>
                    <div class="title">
                        <h2>Información sobre el lote seleccionado</h2>
                        <br>
                        <h3>
                            Área del lote: {{area}} m²
                        </h3>
                    </div>
                </div>
                <div class="graph">
                    <mat-tab-group backgroundColor="accent" color="primary">
                        <mat-tab label="Temperatura">
                            <br>
                            <canvas #pTempChart></canvas>
                        </mat-tab>
                        <mat-tab label="Precipitación">
                            <canvas #pPrepChart></canvas>
                        </mat-tab>
                        <mat-tab label="Humedad Relativa">
                            <canvas #pHRChart></canvas>
                        </mat-tab>
                        <mat-tab label="Punto de Rocio">
                            <canvas #pPRChart></canvas>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
