<div class="container">
    <div class="formulario">
        <div class="conte_formulario">
            <div>
                <h3>Selecciona un producto</h3>
            </div>
            <br>
            <div>
                <form action="">
                    <select name="" id="">
                        <option *ngFor="let data of geedata">{{ data.title }}</option>
                    </select>
                    <br>
                    <br>
                    <input type="submit" value="Visualizar">
                </form>
            </div>
            <br>
            <div>
                <a href="https://developers.google.com/earth-engine/datasets/catalog" target="_blank">
                    Para más información revisa la página oficial de Google Earth Engine
                </a>
            </div>
        </div>
    </div>
    <div class="map" id="map"></div>
</div>
