@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https: //unpkg.com/leaflet@1.9.3/dist/leaflet.css");

.body {
    width: 100%;
    height: 93vh;
    z-index: 0;
    position: relative;
    top: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}