<div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div class="container">
    <div class="cont_f">
        <div class="formulario">
            <div class="cont">
                <h2>Selecciona un archivo raster (.tif)</h2>
                <br>                
                <form #formUpload (submit)="uploadFile()">
                    <input type="file" name="file" (change)="handleFileInput($event)" accept=".tif">
                    <br>
                    <button type="submit" class="but">Cargar archivo</button>
                </form>
            </div>
        </div>
    </div>
    <div class="map">
        <div>
            <br>
            <h1>Idoneidad para el desarrollo de la enfermedad</h1>
            <br>
            <img src="assets/Escala.png" style="width: 70%; height: 5%;" *ngIf="images">
            <img [src]="imageUrl" *ngIf="imageUrl" style="width: 50%;">
        </div>
    </div>
</div>
